<!doctype html>
<html lang="<%= config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>
  <body>
    <%- partial('_partial/header') %>
    <main>
      <div class="container">
        <%- body %>
      </div>
    </main>
    <%- partial('_partial/footer') %>
  </body>
</html>
