<article class="post">
  <h1><%= page.title %></h1>
  <div class="post-meta">
    <time datetime="<%= page.date.toISOString() %>">
      <%= date(page.date, config.date_format) %>
    </time>
    <% if (page.categories && page.categories.length) { %>
      <span class="categories">
        Categories:
        <% page.categories.each(function(cat) { %>
          <a href="<%- url_for(cat.path) %>"><%= cat.name %></a>
        <% }); %>
      </span>
    <% } %>
    <% if (page.tags && page.tags.length) { %>
      <span class="tags">
        Tags:
        <% page.tags.each(function(tag) { %>
          <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
        <% }); %>
      </span>
    <% } %>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
</article>
